@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

html{
  height: 100%;
  width: 100%;
  position: relative;
}
body{
  height: 100%;
  width: 100%;
  background-color: #8080ff;
  color: white;
}

#root{
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: Chicle;
  position: sticky;
  border-bottom: 1px solid white;;
}
a{
  font-family: Chicle;
  font-size: larger;
}
.title{
  font-size: 50px;
  font-weight: bold;
}
.home-pic{
  background-image: url('./wingpup.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center; 
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.home-greeting{
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page{
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.page-column{
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.content{
  height: 90%;
  width: 80%;
  color: black;
}
.content-row{
  height: 90%;
  width: 80%;
  display:flex;
  color: black;
}
.top{
  height:40%;
  width: 100%;
  border-bottom: 1px solid #8080ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
  color:#8080ff;
}
img{
  max-width: 250px;
  max-height: 200px;
}
.bottom{
  height:60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left{
  height: 100%;
  width: 30%;
  border-right: 1px solid red;
  display: flex;
  flex-direction: column;
}

.right{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dogs{
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile-pic-container{
  height: 90%;
  width: 30%;
  background-color:white;
  box-shadow: 0 1px 6px rgb(0 0 0 / 50%), 0 1px 4px rgb(0 0 0 / 50%);

}

.profile-pic{
  height: 90%;
  width: 90%;
  border-radius: 50%;
}

.about-container{
  height: 90%;
  width: 65%;
  background-color: white;
  box-shadow: 0 1px 6px rgb(0 0 0 / 50%), 0 1px 4px rgb(0 0 0 / 50%);

}
.about-info{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-form{
  height: 100px;
  width: 200%;
}
.edit-div{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.edit{
  height: 100%;
}
.edit:hover{
  cursor: pointer;
}
.username{
  font-size: larger;
  font-weight: bold;
}
.about{
  height:40%;
}
.dog-header{
  height: 10%;
}
.dogs{
  background-color:white;
  box-shadow: 0 1px 6px rgb(0 0 0 / 50%), 0 1px 4px rgb(0 0 0 / 50%);
}
.dog{
  border: 1px solid #8080ff;
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dog-pic{
  height: 70%;
  width: 90%;
}

h3{
  margin: 5px 0 0 0;
}

.popup{
  height: 65%;
  width: 45%;
  background-color: #ffffff;
  position: absolute;
  border-radius: 10%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  color: #8080ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pop-container{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.close-div{
  width: 99%;
  height: 5%;
  display: flex;
  justify-content: flex-end;
}

.close{
  border-radius: 50%;
  width: 7%;
  height: 150%;
  border: 1px solid #ffffffcf;
  margin-top: 4px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 30%), 0 1px 4px rgb(0 0 0 / 30%);
}
.close:hover{
  cursor: pointer;
}

.user-pic{
  height: 200px;
  width: 250px;
}

.swipe-container{
  border: 1px solid black;
  height: 50%;
  width: 50%;
  margin: 5px;
}

.carousel{
  width: 100%;
}

.chat-container{
  height: 80%;
  width: 80%;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-message{
  text-align: left;
  width: 80%;
  border: 1px solid blue;
}

.right-message{
  text-align: right;
  width: 80%;
  border: 1px solid red;
}

.swipe-buttons{
  display: flex;
}

.dogs-popup-container{
  height: 90%;
  width: 70%;
}

.dog-row-container{
  display: flex;
  border: 1px solid blue;
  align-items: center;
  justify-content: space-between;
}

.dog-form{
  height: 60%;
  width: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input{
  width: 60%;
}

select{
  width: 63%;
}

.dash{
  height: 40%;
  width: 100%;
}

.user-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.user{
  width: 40%;
  padding: 20px;
  background-color:white;
  box-shadow: 0 1px 6px rgb(0 0 0 / 50%), 0 1px 4px rgb(0 0 0 / 50%);
}
