html{
  height: 100%;
  width: 100%;
  position: relative;
}
body{
  height: 100%;
  width: 100%;
}
#root{
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-column{
  height: 90%;
  width: 90%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-row{
  height: 90%;
  width: 90%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.content{
  height: 90%;
  width: 80%;
  border: 1px solid red;
}
.content-row{
  height: 90%;
  width: 80%;
  border: 1px solid red;
  display:flex;
}
.top{
  height:40%;
  width: 100%;
  border-bottom: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  max-width: 250px;
}
.bottom{
  height:60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left{
  height: 100%;
  width: 30%;
  border-right: 1px solid red;
  display: flex;
  flex-direction: column;
}

.right{
  height: 100%;
  width: 70%;
}

.dogs{
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile-pic-container{
  height: 90%;
  width: 30%;
  border: 1px solid green;
  margin: 5px;
}

.profile-pic{
  height: 100%;
  width: 90%;
  border-radius: 50%;
}

.about-container{
  height:90%;
  width: 60%;
  border: 1px solid green;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.username{
  font-size: larger;
  font-weight: bold;
}
.about{
  height:40%;
}
.dog{
  border: 1px solid black;
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dog-pic{
  border: 1px solid black;
  height: 70%;
  width: 90%;
}

h3{
  margin: 5px 0 0 0;
}

.popup{
  height: 65%;
  width: 45%;
  background-color: #ffffff;
  position: absolute;
  border-radius: 10%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.close-div{
  width: 99%;
  height: 5%;
  display: flex;
  justify-content: flex-end;
}

.close{
  border-radius: 50%;
  width: 7%;
  height: 150%;
  border: 1px solid #ffffffcf;
  margin-top: 4px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 30%), 0 1px 4px rgb(0 0 0 / 30%);
}
.close:hover{
  cursor: pointer;
}

.user-pic{
  height: 200px;
  width: 250px;
}

.swipe-container{
  border: 1px solid black;
  height: 50%;
  width: 50%;
  margin: 5px;
}

.carousel{
  width: 100%;
}
